// Fonts
$font: 'Montserrat', sans-serif;

// Breakpoints
$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';

// Colors
$color1: #de8f75;
$color2: #202020;
$color3: #aeb6c1;
$color4: #686868;
$color5: #32917b;